<!DOCTYPE html>
<html>
<%- include('title') %>
<body>
  <%- include('header', {subtitle: 'Error'}) %>
  <section class="section Site-content">
    <div class="container">
      <h1><%= message %></h1>
      <h2><%= error.status %></h2>
    </div>
  </section>
  <%- include('footer') %>
</body>
</html>
