<!DOCTYPE html>
<html>
<%- include('title') %>

  <body class="Site">
    <%- include('header', {subtitle: 'Error' }) %>
      <section class="section Site-content">
        <div class="notification is-warning">
          <p>
            <%= message %>
          </p>
          <p>
            <%= details %>
          </p>
        </div>
      </section>
      <%- include('footer') %>
  </body>

</html>