<!DOCTYPE html>
<html>
<%- include('title') %>
<body class="Site">
  <%- include('header', { subtitle: 'Choose Provider' }) %>
  <section class="section Site-content">
    <div class="container">
      <h1>Choose a provider</h1>
      <p>Select from one of the identity providers shown below to continue.</p>
      <ul>
      <% providers.forEach(function (provider) { %>
        <li><a href="<%= provider.loginUrl %>"><%= provider.label %></a></li>
      <% }); %>
      </ul>
    </div>
  </section>
  <%- include('footer') %>
</body>
</html>
