<!DOCTYPE html>
<html>
<%- include('title') %>

  <body class="Site">
    <%- include('header', { subtitle: 'Choose Provider' }) %>
      <section class="section Site-content">
        <div class="container">
          <h3 class="title is-3">Choose your provider</h3>
          <div class="notification is-info is-light">
            To complete the login process, please select from one of the
            identity providers shown below.
          </div>
          <div class="columns is-mobile is-multiline is-centered">
            <% providers.forEach(function (provider) { %>
              <div class="column is-narrow">
                <a class="button" href="<%= provider.loginUrl %>">
                  <%= provider.label %>
                </a>
              </div>
              <% }); %>
          </div>
        </div>
      </section>
      <%- include('footer') %>
  </body>

</html>