<!DOCTYPE html>
<html>
<%- include('title') %>

  <body class="Site">
    <%- include('header', {subtitle: 'Login Successful' }) %>
      <section class="section Site-content">
        <div class="block">
          <div class="notification is-success is-light">
            <p>
              Thank you, <%= name %>
            </p>
            <p>
              You are now authenticated and may close this browser tab.
            </p>
          </div>
        </div>
        <% if (profile) { %>
          <div class="block">
            <p>User profile data received from the identity provider:</p>
            <pre><%= profile %></pre>
          </div>
          <% } %>
      </section>
      <%- include('footer') %>
  </body>

</html>